.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal.open{
    display: flex;
}

.modal .modal-container{
    width: 900px;
    max-width: calc(100% - 48px); /*Khi thu nhỏ trình duyệt modal không bị dính liền vào mép*/
    min-height: 200px;
    background-color: #fff;
    position: relative;
    animation: modalFadeInto ease 0.6s; /*hiệu ứng chuyển động khi mở modal*/
}

.modal-container .modal-close{
    cursor: pointer;
    color: #fff;
    position: absolute;
    right: 0;
    padding: 12px;
}

.modal-container .modal-close:hover{
    background-color: #ccc;
    color: #000;
}

.modal-container .modal-header{
    background-color: #009688;
    padding: 36px 12px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    height: 129px;
    letter-spacing: 4px;
}

.modal-header i{
    padding-right: 12px;
}

.modal-container .modal-body{
    padding: 16px;
}

.modal-body .modal-label{
    font-size: 15px;
    display: block;
    padding: 10px 0;
}

.modal-body .modal-input {
    font-size: 15px;
    width: 100%;
    padding: 10px; 
    margin-bottom: 17px;
    border: 1px solid #ccc;
}

#btn-buy{
    margin: 10px 0;
    padding: 12px 0;
    border: none;
    background-color: #009688;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    width: 100%;
    cursor: pointer;
}

#btn-buy i{
    font-weight: 900;
}

#btn-buy:hover{
    background-color: #ccc;
}

.modal .modal-footer{
    font-size: 15px;
    float: right;
    padding: 0 16px;
    margin: 15px 0
}

.modal-footer a{
    color: #2196F3;
}

/* hiệu ứng chuyển động khi mở modal */
@keyframes modalFadeInto{
    from{
        opacity: 0;
        transform: translateY(-150px);
    }

    to{
        opacity: 1;
        transform: translateY(0px);
    }
}